<button
  class="menu-button"
  type="button"
  aria-label="Abrir menu"
  (click)="toggleMenu($event)"
>
  <svg lucideMenu size="27" strokeWidth="2.5"></svg>
</button>

<div class="menu-backdrop" *ngIf="isOpen" (click)="closeMenu()"></div>

<aside
  class="menu-modal"
  *ngIf="isOpen"
  aria-label="Menu principal"
>

  <a [routerLink]="!authService.isLoggedIn() ? '/login' : authService.isAdmin() ? '/admin/dashboard' : '/meu-perfil'">
    <header class="menu-header">
      <svg lucideUserRound size="23" strokeWidth="2.5"></svg>
      <span>{{ !authService.isLoggedIn() ? 'Logar' : authService.isAdmin() ? 'Área Administrativa' : 'Área do Usuário' }}</span>
    </header>
  </a>

  <nav class="menu-content">
    <a routerLink="/minhas-compras" (click)="closeMenu()">Minhas compras</a>
    <a href="#">Mais vendidos no mês</a>

    <section class="categories" aria-labelledby="categories-title">
      <h2 id="categories-title">Categorias</h2>

      <div class="category-grid">
        <ul *ngFor="let group of categories">
          <li *ngFor="let category of group">
            <a [routerLink]="categoryRoute(category)" (click)="closeMenu()">{{ category }}</a>
          </li>
        </ul>
      </div>
    </section>

    <!-- Logout -->
    <div class="flex justify-center p-2 rounded-2xl bg-red-400 hover:[scale:1.03]" *ngIf="authService.isLoggedIn()">
      <a class="text-white" (click)="logout()">Log-out</a>
    </div>
  </nav>
</aside>

