<app-header [cartItems]="cartItems" />

<div class="min-h-screen bg-gray-100 py-6 lg:py-10">

  <app-breadcrumb [items]="breadcrumbItems" />

  <div class="mx-auto max-w-7xl px-4 sm:px-6">
    <!-- Card Principal -->
    <div class="rounded-2xl bg-white p-4 shadow-lg sm:p-6 lg:p-8">
      <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-10">
        <!-- IMAGEM DO PRODUTO -->
         <div>
          <div class="flex h-[600px] items-center justify-center overflow-hidden rounded-xl bg-gray-200 sm:h-[600px] lg:h-[500px]">
            <img src="{{product?.pathImagem}}" alt="Produto" class="object-fit" />
          </div>

        </div>

        <!-- ESPECIFICAÇÕES -->
        <div class="flex flex-col gap-6 lg:flex-row">
          <!-- Informações do Produto -->
          <div class="flex-1">
            <h1 class="mb-4 text-3xl font-bold text-gray-900 lg:text-4xl"> {{product?.nome}}</h1>

            <p class="mb-6 text-3xl font-bold text-[#EF8354] lg:text-4xl">R$ {{product?.preco}}</p>

            <!-- Parcelamento -->
            <div class="mb-5">
              <label class="mb-2 block font-semibold text-gray-700"> Parcelamento </label>

              <select class="w-full rounded-lg border border-gray-300 px-4 py-3">
                <option *ngFor="let option of installmentOptions">
                  {{ option.installments }}x de R$
                  {{ option.value | number:'1.2-2' }}
                </option>
              </select>
            </div>

            <!-- Quantidade -->
            <div class="mb-6">
              <label class="mb-2 block font-semibold text-gray-700"> Quantidade </label>

              <input type="number" min="1" [max]="product?.quantidade" value="1" class="w-full rounded-lg border border-gray-300 px-4 py-3 focus:ring-2 focus:ring-blue-500 focus:outline-none sm:w-40" />
            </div>

            <!-- Botões -->
            <div class="flex flex-col gap-4">
              <button [routerLink]="['/venda']" class="w-full rounded-lg bg-[#EF8354] py-4 font-semibold text-white transition duration-200 hover:bg-orange-700">Comprar Agora</button>

              <button  (click)="addToCart(product?.quantidade)" class="w-full rounded-lg bg-[#2D3142] py-4 font-semibold text-white transition duration-200 hover:bg-blue-700">Adicionar ao Carrinho</button>
            </div>
          </div>

          <!-- Especificações -->
          <div class="w-full lg:w-72">
            <div class="rounded-xl bg-gray-200/60 p-5 md:my-5">
              <h2 class="mb-4 text-lg font-bold text-gray-800">Especificações</h2>

              <ul class="space-y-3 text-sm text-gray-700">
                <li><strong>Processador:</strong> #</li>

                <li><strong>Placa de Vídeo:</strong> #</li>

                <li><strong>Memória:</strong> #</li>

                <li><strong>Armazenamento:</strong> #</li>

                <li><strong>Tela:</strong> #</li>

                <li><strong>Sistema:</strong> #</li>

                <li><strong>Peso:</strong> #</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- AVALIAÇÕES -->
    <section class="mt-10 lg:mt-14 rounded-2xl bg-white p-4 shadow-lg sm:p-6 lg:p-8">

      <div class="flex items-center flex-wrap justify-between md:flex-nowrap ">
        <h2 class="mb-6 text-2xl font-bold text-gray-900 lg:mb-8 lg:text-5xl">Avaliações</h2>
        <div class="flex flex-wrap justify-between md:flex-nowrap  ">
          <div class="border border-[#ff8f59] rounded-2xl p-2 mx-2 text-sm">5 estrelas (3)</div>
          <div class="border border-[#ff8f59] rounded-2xl p-2 mx-2 text-sm">4 estrelas (0)</div>
          <div class="border border-[#ff8f59] rounded-2xl p-2 mx-2 text-sm">3 estrelas (0)</div>
          <div class="border border-[#ff8f59] rounded-2xl p-2 mx-2 text-sm">2 estrelas (1)</div>
          <div class="border border-[#ff8f59] rounded-2xl p-2 mx-2 text-sm">1 estrela  (0)</div>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-6 md:grid-cols-2 mt-4">

         <!-- Avaliação 1 -->
        <div class="rounded-xl bg-white p-6 shadow-lg">
          <div class="mb-3 text-xl flex flex-wrap justify-between">
            <h3 class="mb-2 text-lg font-semibold">João Silva</h3>
            <div class="flex flex-wrap">
                <svg lucideStar *ngFor="let star of [1, 2, 3, 4, 5]" size="18" strokeWidth="0" class="fill-current text-[#ff8f59]"></svg>
            </div>
          </div>
            <p class="text-gray-600">Produto excelente. Recomendo para quem busca alto desempenho.</p>
        </div>

        <!-- Avaliação 2 -->
        <div class="rounded-xl bg-white p-6 shadow-lg">
          <div class="mb-3 text-xl flex flex-wrap justify-between">
            <h3 class="mb-2 text-lg font-semibold">Maria Oliveira</h3>
            <div class="flex flex-wrap">
              <svg lucideStar *ngFor="let star of [1, 2, 3, 4, 5]" size="18" strokeWidth="0" class="fill-current text-[#ff8f59]"></svg>
            </div>
          </div>
          <p class="text-gray-600">Ótimo produto! Chegou antes do prazo e muito bem embalado.</p>
        </div>


        <!-- Avaliação 3 -->
        <div class="rounded-xl bg-white p-6 shadow-lg">
          <div class="mb-3 text-xl flex flex-wrap justify-between">
            <h3 class="mb-2 text-lg font-semibold">Pedro Santos</h3>
            <div class="flex flex-wrap">
              <svg lucideStar *ngFor="let star of [1, 2, 3, 4, 5]" size="18" strokeWidth="0" class="fill-current text-[#ff8f59]"></svg>
            </div>
          </div>
          <p class="text-gray-600">Adorei!</p>
        </div>

        <!-- Avaliação 4 -->
        <div class="rounded-xl bg-white p-6 shadow-lg">
          <div class="mb-3 text-xl flex flex-wrap justify-between">
            <h3 class="mb-2 text-lg font-semibold">Claudio Costa</h3>
            <div class="flex flex-wrap">
              <svg lucideStar *ngFor="let star of [1, 2]" size="18" strokeWidth="0" class="fill-current text-[#ff8f59]"></svg>
            </div>
          </div>
          <p class="text-gray-600">Produto não atendeu as minhas expectativas.</p>
        </div>
      </div>
    </section>
  </div>
</div>


